designs/canActivate/AuthCanActivate.json
[
    {
        "id": "sd_FqjeSVnJmyfK6nuY",
        "type": "tab",
        "createdDate": "2022-06-20T05:46:21.290Z",
        "label": "AuthCanActivate",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "tabType": "canActivate",
        "generateNext": true,
        "serviceName": "AuthCanActivate",
        "relativeParentPath": ""
    },
    {
        "id": "sd_K8T1t2yDRRIFqdBb",
        "type": "CanActivate",
        "z": "sd_FqjeSVnJmyfK6nuY",
        "viewType": "client",
        "nodeType": "start",
        "name": "Auth Guard",
        "outputs": 1,
        "localVariables": [
            {
                "key": "status",
                "defaultValue": {
                    "type": "any",
                    "value": "false"
                },
                "output": true
            }
        ],
        "functionName": "canActivate",
        "category": "Navigation",
        "x": 65,
        "y": 100,
        "wires": [
            [
                "sd_NGBSGkI8R8Lpseoo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "AuthCanActivate"
    },
    {
        "id": "sd_NGBSGkI8R8Lpseoo",
        "type": "CallService",
        "z": "sd_FqjeSVnJmyfK6nuY",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Auth Guard Call Serivce",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_LRkQE69DI7XAP8D9",
            "type": "tab",
            "createdDate": "2022-06-15T09:08:28.960Z",
            "label": "AuthService",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_AnwjDpS3RjVNQNID",
            "flowName": "getUserDetails"
        },
        "inputVariables": [],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "userDetails",
                "valueType": "bh.local",
                "value": "userDetails",
                "mapVarName": "userDetails",
                "localVar": "bh.local.userDetails"
            }
        ],
        "callService": "../sd-services/AuthService",
        "startName": "getUserDetails",
        "inputParams": [],
        "accept_bh": false,
        "functionName": "authGuardCallSerivce",
        "category": "General",
        "x": 165,
        "y": 100,
        "wires": [
            [
                "sd_HAjzj0VQabZCjRa0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "AuthCanActivate",
        "generated": true
    },
    {
        "id": "sd_HAjzj0VQabZCjRa0",
        "type": "Switch",
        "z": "sd_FqjeSVnJmyfK6nuY",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Auth Guard Switch",
        "property": "userDetails",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.userDetails",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "authGuardSwitch",
        "category": "Function",
        "x": 285,
        "y": 100,
        "wires": [
            [
                "sd_xncPTNNMNLYT1yx3"
            ],
            [
                "sd_3g6Q9sq8cBmCdmEh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "AuthCanActivate",
        "generated": true
    },
    {
        "id": "sd_xncPTNNMNLYT1yx3",
        "type": "Script",
        "z": "sd_FqjeSVnJmyfK6nuY",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Auth Guard Truthy",
        "script": "bh.local.status = true;",
        "functionName": "authGuardTruthy",
        "category": "Function",
        "x": 405,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "AuthCanActivate",
        "generated": true
    },
    {
        "id": "sd_3g6Q9sq8cBmCdmEh",
        "type": "Script",
        "z": "sd_FqjeSVnJmyfK6nuY",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Auth Guard False",
        "script": "bh.local.status = false;",
        "functionName": "authGuardFalse",
        "category": "Function",
        "x": 405,
        "y": 160,
        "wires": [
            [
                "sd_0AZlDEdrnPRuaXUk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "AuthCanActivate",
        "generated": true
    },
    {
        "id": "sd_0AZlDEdrnPRuaXUk",
        "type": "Navigation",
        "z": "sd_FqjeSVnJmyfK6nuY",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Navigate To Login",
        "path": "/login",
        "functionName": "navigateToLogin",
        "category": "Navigation",
        "x": 525,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "AuthCanActivate",
        "generated": true
    }
]
